@model DaVinciCollegeAuthenticationService.Models.AccountViewModels.ForgetPasswordVerificationModel

<form asp-controller="Account" asp-action="ForgetPasswordVertification" method="post" class="form-horizontal">
    <h4>Kies een ander wachtwoord. @Model.PasswordReset.UserNumber</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.NewPassword" type="password" class="form-control" />
            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.CheckPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.CheckPassword" type="password" class="form-control" />
            <span asp-validation-for="@Model.CheckPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" name="vertificationCode" value="@Model.PasswordReset.VertificationCode"/>
        <input type="hidden" name="userNumber" value="@Model.PasswordReset.UserNumber" />
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Reset Wachtwoord</button>
        </div>
    </div>
</form>